body{
  background-color: rgb(248, 248, 248);
}


.pasos_ingreso{
  background-color: rgb(231, 227, 227);
  max-height: 250px;
  border-radius: 5%;
}

.paso_tutor{
  background-color: rgb(250, 245, 245);
  border-radius: 5%;
}

.paso_alumno{
  background-color: #4e93cc;
  border-radius: 5%;
}

.paso_mensualidad{
  background-color: rgb(250, 245, 245);
  border-radius: 5%;
}

.btn_alumno{
  background-color: white;
  color: #204e81;
}

.btn_tutor{
  background-color: #4e93cc;
  margin: 0;
}

.numero_pasos{
  color: #4e93cc;
}

.numero_pasos_blanco{
  color: white;
  text-shadow:1px 1px black;

}

.titulo_pasos_blanco{
  width: 100%;
  font-size: 200%;
  text-align: center;
  color: rgb(88, 88, 88);
   text-shadow:1px 1px white;
}

.subtitulo_pasos{
  width: 100%;
  text-align: center;
  color: #3c73a0;
  
   text-shadow:1px  black;
}

.subtitulo_pasos_blanco{
  width: 100%;
  text-align: center;
  color: white;
   text-shadow:1px 1px black;
}

h2{
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 400%;
}

.nav-link{
  color:rgb(88, 88, 88);
  font-weight: 500;
}

.active{
  color: rgb(23, 112, 230);
}

.icon-sideBar{
  width: 13%;
}

.sidebar{
  position: sticky;
  top: 0;
}