
*{
  padding: 0%;
  margin: 0%;
}

body{
  background-color: #f1f1f1;
}
/*---------------------------------------------------HEADER-------------------------------------------------*/
header{
  margin: 0;
  background-color: #078dab;
  max-width:100%;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar{
  padding: 0;
 }

 .nav-top{
  margin:1% 0 0 0;
  width: 100%; 
}

h1{
  color: white;
  width: 30%;
  font-size: 28px;
  display: inline;
  text-align: center;
  margin: 0 0 0 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.icono{
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
  align-self: center;
  display: none;
 }

 .nav-checkbox{
  display: none;
 }

.navbar-na{
  width: 60%;
  display: inline-block;
  float:right;
}

li{
  display: inline-block;
  font-size: 80%;
  text-align: center;
  font-size: large;
  margin:0 0 0 1%;
  width: 18%;
  border-radius: 8%;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  background-color: #0b657c;
  border-radius: 8%;
  color: white;
}

.imagen-header{
  background-color: rgb(16, 43, 59);
  z-index: 1;
}

.img_header{
  width: 100%;
  position: relative;
  max-height: 600px;
  opacity: 0.7;
}

.texto-header-centrado{
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 30%;
}

.link-informes{
  color: white;
}

h3{
  background-color: #078dabc0;
  color: white;
  text-align: center;
  max-width: 200px;
  border-radius: 10%;
  margin-left: 35%;
}

h4{
  color: white;
  font-size: 40px;
  margin-bottom: 2%;
  font-family: Tahoma;
  text-align: center;
}

.p-header{
  color: white;
  border-radius: 5%;
  border-top: solid;
  text-align: center;
}

.vertical{
  display: none;
}
/*-------------------------------------------------------------------------------------------------------*/

.segunda-seccion{
  padding-top: 5%;
  background-color: white;
}

h2{
  text-align: center;
  color:#078dab;
  margin-bottom: 2%;
}

.tipos-clases{
  display: inline-block;
  width: 100%;
}

.particular{
  display: inline-block ;
  min-width: 50%;

}

h5{
  margin-left: 25%;
}

.list-clases{
  display: block;
  margin-left: 20%;
  text-align: justify;
  width: 100%;
}

/*-------------------------------------------Responsive Design----------------------------------*/

@media only screen and (max-width:320px){
/* -------------------------------------------------HEADER------------------------------ */
    .titulo{
      padding:0 55px 0 5px;
    }

    .navbar-na{
    min-width:10%;
    max-width: 319px;
    min-height: 60px;
    }

    .texto-header-centrado{
      min-width: 100px;
    }

    h4{
      font-size: 20px;
    }

    .p-header{
      text-align: center;
    }
    /* -------------------------------------------------HEADER------------------------------ */

}

@media only screen and (max-width: 400px){
  /* -------------------------------------------------HEADER------------------------------ */
    .titulo{
      max-width: 75%;
      text-align: center;
    }

    h1{
    width: 5%;
    }

    .icono{
      margin: 0 0 100% 35%;
    }

    li{
      padding-right: 250px;
    }

    .nav-link{
    padding-left: 5px;  
    }
    
    .texto-header-centrado{
      min-width: 100px;
    }
    

    .p-header{
      text-align: center;
    }
    /* -------------------------------------------------HEADER------------------------------ */
    
    .particular{
      background-color: blue;
      width: 100%;
      text-align: center;
    }
    
    .list-clases{
      display: block;
      margin-left: 25%;
      text-align: justify;
      padding: 0;
      background-color: red;
    }
    h5{
      margin: 0;
    }
}

@media only screen and (max-width: 500px){
/* -------------------------------------------------HEADER------------------------------ */
  header{
    max-height: 80px;
  }
   
  h1{
    width: 60%;
    font-size: 30px;
    padding-top: 5%;
  }

  .nav-top{
    min-height: 50px;
    max-height: 60px;
    margin: 0;
  }

  li{
    max-width: 300px;
    min-width: 400px;
  }

  .nav-link{
    padding-right:200px;
    padding-left: 200px;
  }

  .navbar-na{
    padding-top: 5%;
  }

  .img_header{
    display: none;
  }

  .vertical{
    display: block;
    filter: brightness(100%);
  }

  .texto-header-centrado{
    max-width: 250px;
  }

  .p-header{
    text-align: center;
    background-color: rgba(121, 118, 118, 0.61);
    font-size: 12px;
  }
  /* -------------------------------------------------HEADER------------------------------ */


}

@media only screen and (max-width:600px){
/* -------------------------------------------------HEADER------------------------------ */
.navbar{
  margin: 0;
  max-height: 65px;
  padding: 0;
}

.titulo{
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}

 h1{
   min-width: 200px; 
  }

  .icono{
    display: inline-block;
  }

.navbar-na{
  display: block;
  position: fixed;
  top: 55px;
  min-height: 330px;
  min-width:100%;
  max-width: 615px;
  background-color:#086788 ;
  left: 100%;
  transition: all .5s;
  }

  li{
    display: block;
    line-height: 50px;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    min-width: 550px;
  }

  .nav-link{
    font-size: medium; 
    padding: 2% 40% 2% 40%;
  }

  .nav-link:hover{
    background-color: #0a4b5c;
    
  }

  #nav-checkbox:checked ~ ul{
    left: 0%;
  }

.texto-header-centrado{
  margin-top: -20%;
  top: 0%;
}
/* -------------------------------------------------HEADER------------------------------ */

}

@media only screen and (max-width: 700px){
/* -------------------------------------------------HEADER------------------------------ */
  .navbar-na{
    max-width: 40%;
  }
  
  .p-header{
    background-color: rgba(121, 118, 118, 0.61);
  }

  .texto-header-centrado{
    margin-right: 15%;
  }
/* -------------------------------------------------HEADER------------------------------ */
}

@media only screen and (max-width:800px){
/* -------------------------------------------------HEADER------------------------------ */
  .navbar{
    min-height: 50px;
  }

  h1{
    font-size: large;
    margin:0 2% 0 0;
  }

  .navbar-na{
    max-width: 40%;
    max-height: 20px;
  }

  li{
    font-size: small;
    max-width: 25%;
  }

  .nav-link{
    text-align: center;
    max-height: 20px;
    display: inline;
  }

  .p-header{
    background-color: rgba(121, 118, 118, 0.61);
  }

  .texto-header-centrado{
    top: 35%;
    margin-left: 0%;
  }
  
  h4{
    font-size: 30px;
  }
 /* -------------------------------------------------HEADER------------------------------ */
}

@media only screen and (max-width:900px){
 


}

@media only screen and (max-width:1024px){
/* -------------------------------------------------HEADER------------------------------ */
  h1{
    display: inline-block;
    text-align: center;
    min-width: 40%;
  }

  .navbar-na{
    max-width: 55%;
    margin: 0 2% 0 0 ;
  }

  .p-header{
    text-align: center;
  }

  .texto-header-centrado{
    left: 20%;
  }
/* -------------------------------------------------HEADER------------------------------ */
}