
*{
  padding: 0%;
  margin: 0%;
}

body{
  background-color: #f1f1f1;
}

header{
  margin: 0;
  background-color: #078dab;
  max-width:100%;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar{
  padding: 0;
 }

 .nav-top{
  margin:1% 0 0 0;
  width: 100%; 
}

h1{
  color: white;
  width: 30%;
  font-size: 28px;
  display: inline;
  text-align: center;
  margin: 0 0 0 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.icono{
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
  align-self: center;
  display: none;
 }

 .nav-checkbox{
  display: none;
 }


.navbar-na{
  width: 60%;
  display: inline-block;
  float:right;
  
}


li{
  display: inline-block;
  font-size: 80%;
  text-align: center;
  font-size: large;
  margin:0 0 0 1%;
  width: 18%;
  border-radius: 8%;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  background-color: #0b657c;
  border-radius: 8%;
  color: white;
}






.img_header{
  width: 100%;
  max-height: 600px;
}

.vertical{
  display: none;
}



/*-------------------Responsive Design---------------------*/
@media only screen and (max-width:320px){



.titulo{
  padding:0 55px 0 5px;
}

.navbar-na{
 min-width:10%;
 max-width: 319px;
 min-height: 60px;
}

}

@media only screen and (max-width: 400px){


.titulo{
  max-width: 75%;
  text-align: center;
}

h1{
width: 5%;

}

.icono{
  margin: 0 0 100% 35%;

}

li{
  padding-right: 250px;
}

  .nav-link{
  padding-left: 5px;  }
  
}

@media only screen and (max-width: 500px){

  header{
    max-height: 80px;
  }
   
  h1{
    width: 60%;
    font-size: 30px;
    padding-top: 5%;
  }


  .nav-top{
    min-height: 50px;
    max-height: 60px;
    margin: 0;
  }

  li{
    max-width: 300px;
    min-width: 400px;
  }

  .nav-link{
    padding-right:200px;
    padding-left: 200px;
  }

  .img_header{
    display: none;
  }

  .vertical{
    display: block;
  }
}

@media only screen and (max-width:615px){

  .navbar{
    margin: 0;
    max-height: 65px;
    padding: 0;
  }

  .titulo{
    display: inline-block;
    width: 80%;
    margin: 0 0 0 5%;
  }

  h1{
    min-width: 200px;
    
  }

  .icono{
     display: inline-block;
  }

.navbar-na{
  display: block;
  position: fixed;
  top: 55px;
    min-height: 330px;
    min-width:100%;
    max-width: 615px;
    background-color:#086788 ;
   left: 100%;
   transition: all .5s;
  }

  li{
    display: block;
    line-height: 50px;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    min-width: 550px;
  }

  .nav-link{
    font-size: medium; 
    padding: 2% 40% 2% 40%;
   
  }

  .nav-link:hover{
    background-color: #0a4b5c;
    
  }

  #nav-checkbox:checked ~ ul{
    left: 0%;
  }

}

@media only screen and (max-width: 635px){

 
  .navbar-na{
    max-width: 40%;
  }
  
}

@media only screen and (max-width:729px){

  .navbar{
    min-height: 50px;
  }

  h1{
    font-size: large;
    margin:0 2% 0 0;
  }

  .navbar-na{
    max-width: 40%;
    max-height: 20px;
  }

  li{
    font-size: small;
    max-width: 25%;
  }

  .nav-link{
    text-align: center;
    max-height: 20px;
    display: inline;
  }


 
 
}

@media only screen and (max-width:1099px){
  
  

  h1{
    display: inline-block;
    text-align: center;
    min-width: 40%;
  }

  

  .navbar-na{
    max-width: 55%;
    margin: 0 2% 0 0 ;
  }

}