body{
  background-color: rgb(230, 230, 230);
}



.central{
  border-radius: 5%;
}

.calendario{
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
}

.paso_tutor{
  background-color: rgb(250, 245, 245);
  border-radius: 20%;
}

.paso_alumno{
  background-color: #4e93cc;
  border-radius: 20%;
}

.paso_mensualidad{
  background-color: rgb(250, 245, 245);
  border-radius: 20%;
}

.btn_alumno{
  background-color: white;
  color: #204e81;
}

.btn_tutor{
  background-color: #4e93cc;
  margin: 0;
}

.numero_pasos{
  color: #4e93cc;
}

.numero_pasos_blanco{
  color: white;
  text-shadow:1px 1px black;
}

.titulo_pasos_blanco{
  width: 100%;
  font-size: 200%;
  text-align: center;
  color: rgb(88, 88, 88);
   text-shadow:1px 1px white;
}

.subtitulo_pasos{
  width: 100%;
  text-align: center;
  color: #3c73a0;
  
   text-shadow:1px  black;
}

.subtitulo_pasos_blanco{
  width: 100%;
  text-align: center;
  color: white;
   text-shadow:1px 1px black;
}

h2{
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 400%;
}

.nav-link{
  color:rgb(88, 88, 88);
  font-weight: 400;
  padding: 0;
}

.active{
  color: rgb(23, 112, 230);
}

.icon-sideBar{
  width: 13%;
}

.sidebar{
  position: sticky;
  top: 0;
  max-height: 500px;
}

.nav-items{
font-size: small;
color:rgb(88, 88, 88);
}

li{
  max-height: 100px;
}

h5{
  margin-bottom: 0;
}





/*------------For mobile phones:------------------ */
@media only screen and (max-width: 420px) {
  

  .titulo_pasos_blanco{
    width: 100%;
    font-size: large;
    text-align: center;
  }

  .row{
    max-height: 140px;
    margin-bottom: 40%;
  }

  .paso_tutor{
    max-height: 50px;
    align-items: center;
    padding-bottom: 40%;
  }
  
  .paso_alumno{
    max-height: 50px;
    align-items: center;
    padding-bottom: 40%;
  }
  
  .btn_tutor{
    width: 110%;
    font-size: x-small;
  }

  .btn_alumno{
    width: 110%;
    font-size: x-small;
  }

  .central{
    max-width: 80%;
  }
}



/*------------For tablets:------------------ */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 
  
}