
  .inputForm{
  border: none;
  border-bottom: 1px solid #ddd;
  }

  .inputForm:focus{
    background-color: rgb(121, 172, 210, 0.2);
  }

#img_modal{
  width: 100%;
}



.img_subtitulo{
  width: 6%;
  display:inline-block;
  
  padding-bottom:2%;
}

#img_busqueda{
  width:10%;
  margin-left:5%;
}

#img_busqueda_profe{
  width:20%;
  margin-left:5%;
}

h4{
  display:inline;
  padding-right:5%;
}


.styled-select select {
   background: transparent;
   border: none;  
}

.borde_inferior{
  border-top:solid 1px;
  border-color:#c9c9c9;
  padding-left:0%;
}

.colorPicker{
  border-radius: 100%;
}




.pasos_ingreso{
  background-color: rgb(187, 177, 177);
  max-height: 300px;
  border-radius: 5%;
}

.paso_tutor{
  background-color: #204e81;
  border-radius: 5%;
}

.paso_alumno{
  background-color: #069e9e;
  border-radius: 5%;
}

.btn_alumno{
  background-color: white;
  color: #204e81;
}

.btn_tutor{
  background-color: white;
  color: #204e81;
  margin: 0;
}

.titulo_pasos{
  color: white;
  text-shadow:1px 1px black;

}

.subtitulo_pasos{
  width: 100%;
  text-align: center;
  color: white;
}

h2{
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 400%;
}